@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700;
    border-radius: 20px;
  }
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Work Sans', sans-serif;
}